.exemplo {
    width: 120px;
    color: black;
    background-color: blueviolet;
}

.exemplo2 {
    width: 120px;
    background-color: aquamarine;
}

#normal {
    word-wrap: normal;
}

#break-word {
    word-wrap: break-word;
}

#normal2 {
     
}

#break-all {
    word-break: break-all;
}

#keep-all {
    word-break: keep-all;
}