.container {
    background: blueviolet;
    padding: 20px;
    margin-bottom: 20px;
    
    display: flex;
    gap: 10px;
}

.item {
    background: yellow;
    padding: 8px;
    /* order: 10; */
}

#container-01 {
    flex-flow: row wrap;
}

#container-02 {
    flex-flow: column wrap;
}


.item-04 {
    order: -1;
}

.item-09 {
    order: -1;
}