.container {
    background-color: blueviolet;
    padding: 10px;
    margin-bottom: 20px;
    height: 200px;

    display: flex;
    align-items: flex-start;
    gap: 10px;
    /* flex-direction: column; */

}

.item {
    background: yellow;
    /* width: 100px; */
    text-align: center;
    /* max-width: 100px; */
    flex-basis: 80px;
    /* flex-grow: 1; */
    /* text-align: center; */

}

.item-02 {
    /* flex-basis: 200px; */
    /* flex-basis: auto; */
    /* flex-basis: 0; */
    /* flex-basis: min-content; */
    flex-basis: max-content;
}