.container {
    background: yellow;
    padding: 10px;
    margin-bottom: 20px;
    height: 500px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
    /* grid-auto-rows: 200px; */
    grid-auto-columns: 100px;

    grid-auto-flow: column;
}

.item {
    border: 1px solid black;
}

.item-01 {
    background: palevioletred;
}

.item-02 {
    background: cornflowerblue;
}

.item-03 {
    background: palegreen;
}

.item-04 {
    background: orange;
}

.item-05 {
    background: blueviolet ;
}

.item-06 {
    background: cyan;
}

.item-07 {
    background: tomato;
}