* {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    background-color: beige;
    margin: 0 auto;
    width: 200px;
    padding: 25px;

    border: 2px solid rgb(136, 98, 0);
    border-radius: 20px;

    display: block
}

input {
    margin-bottom: 10px;
    background-color: rgb(255, 255, 243);
    border: 2px solid rgb(136, 98, 0);
    border-radius: 5px;
}

input:-webkit-autofill {
    border: 2px solid red;
}

:root {
    background-color: bisque;
}

/* a pseudo-classe :root assim escrita se refere a raíz do documento, que nesse caso é a tag html  */




