body {
    font-family: Arial, Helvetica, sans-serif;
}

input[type="checkbox"]:checked + label {
    text-decoration: line-through;
}

li:only-child {
    color: red;
    font-weight: bold;
}

i, em {
    display: block;
}

main :only-of-type {
    color: red;
}